#header
  .wrapper
    = link_to root_path(anchor: "main") do 
      #logo
      #logo_text Servican Pet Center
    
    %ul#main_menu
      %li 
        = link_to 'Nosotros', root_path(anchor: "nosotros")
      %li 
        = link_to 'Servicios', root_path(anchor: "servicios")
      %li 
        = link_to 'Contacto', root_path(anchor: "contacto")
      %li 
        = link_to 'Sucursales', root_path(anchor: "sucursales")  