%html
  %head
    %title Servican Pet Center
    = stylesheet_link_tag    'application', params[:controller], media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = metamagic 
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag :modernizr
    = analytics_init if Rails.env.production?
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "/custom_icon_precomposed.png"}
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}

  %body
    #all
      #main{:class => "#{params[:controller]}"}
        = render "layouts/videobg" if controller_name == 'welcome'
        = render "layouts/header" if controller_name == 'welcome'
        = yield
